* { margin: 0; padding: 0; }


ol, ul {
	list-style: none;
}

body { background: #f8f7f5; }
.access, .hidden {
	position: absolute;
	top: -1000em;
	left: -1000em;
}

#pageWrapper:after,
#pageWrapper #header:after,
#topNav ul#mainNav li .subnav ul.subnavContent:after,
#basket .accountBox:after,
.breadcrumb:after,
.productImages .productHero #productImageTabBlock:after,
#footer:after,
.listerOverlayContent:after,
.addToCartMsg:after,
#qfinder ul:after,
#catMifWrapper:after,
div#mifHeroPanelContent:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.mainNavSection {
	text-align:center;
	color: #fff;
	text-shadow: 1px 1px 2px #000;
	font-size: 14px;
	display: block;
	padding-top: 8px;
}

.draws .mainNavSection,
.blum .mainNavSection {
	font-size: 13px;
}
.draws .mainNavSection,
.vinyls .mainNavSection,
.edging .mainNavSection,
.blum .mainNavSection {
	padding-top: 3px;
}
#pageWrapper {
	margin: 0 auto;
	width: 964px;
	background: #fff;
	border-right: 15px solid #ded6d4;
	border-bottom: 15px solid #ded6d4;
	border-left: 15px solid #ded6d4;
}
#pageWrapper table, #pageWrapper #contentWrapper { margin: 0 auto; }

#pageWrapper #header {
	padding: 0 5px;
	width: 954px;
	background: #fff url(nav-bg.png) bottom left repeat-x;
}

#header #topNav {
	float: left;
	width: 954px;
	background: #fff url(nav-bg.png) bottom left repeat-x;
}
#topNav ul { width: 100%; }
#topNav ul#mainNav {
	clear: both;
	padding-top: 0px;
	padding-bottom: 10px;
	width: 954px;
	height: 38px;
	position: relative;
}
#topNav ul li {
	float: left;
	padding: 12px 37px 16px 0;
	z-index: 5001;
}
#topNav ul li a {
	display: block;
	height: 15px;
}

#topNav ul#mainNav li {
	margin: 0 0 10px 0;
	padding: 0 2px 0 0;
	height: 38px;
	width: 84.7px;
}

#topNav ul#mainNav li.admin_back { width: 90px; background: url(/nav-buttons-bg.png) top left no-repeat; }
#topNav ul#mainNav li.admin_products { width: 90px; background: url(/nav-buttons-bg.png) top left no-repeat; }

#topNav ul#mainNav li.section {
	background-image: url(nav-buttons-bg.png) !important;
	background-size: cover;
}

#topNav ul#mainNav li:hover, #topNav ul#mainNav li.over { background-position: bottom left; }
#topNav ul#mainNav li a {
	display: block;
	height: 35px;
	cursor:pointer;
	text-decoration: none;
}
#topNav ul#mainNav li.hit {
	background-position: bottom left;
	padding-bottom: 0;
}
#topNav ul#mainNav li:hover div.subnav, #topNav ul#mainNav li.over div.subnav { display: block; }
#topNav ul#mainNav li div.subnav {
	display: none;
	position: absolute;
	top: 34px;
	left: 0px;
	width: 100%;
	border-bottom: 5px solid #016BB5;
	z-index: 20;
}
#topNav ul#mainNav li div.subnav {
	left: 0px;
}

#topNav ul#mainNav li div .subnavTop {
	padding-top: 5px;
	width: 947px;
}

#topNav ul#mainNav li .subnav ul.subnavContent {
	padding: 3px 3px 0 1px;
	width: 100%;
	background: #fff;
	list-style: none;
	border-right: 1px solid #e5e5e5;
	border-left: 1px solid #e5e5e5;
}
#topNav ul#mainNav li .subnav ul.subnavContent li {
	clear: both;
	margin: 0;
	padding: 0;
	width: 100%;
	height: auto;
}
#topNav ul#mainNav li .subnav ul.subnavContent li a:hover,
#topNav ul#mainNav li .subnav ul.subnavContent li a:hover span { text-decoration: underline; }
#topNav ul#mainNav li .subnav dl {
	float: left;
	margin: 0 0 0 3px !important;
	padding: 0 0 6px 9px;
	width: 224px;
}
#topNav ul#mainNav li.board .subnav dl {
	width: 177px;
}
#topNav ul#mainNav li .subnav dl dt {
	padding: 4px 0 6px 6px;
	color:#016BB5;
	margin-bottom: 5px;
	background: #f5f5f5;
	border-bottom: 2px solid #016BB5;
}
#topNav ul#mainNav li .subnav dl dt a { height: 1em; }
#topNav ul#mainNav li .subnav dl dd { padding: 0 0 6px 6px; position: relative; }
#topNav ul#mainNav li .subnav dl dd a { height: 1%; }

.product-image {
	display: none;
	position: absolute;
	width: 150px;
	height: 150px;
	right: -160px;
	top: -5px;
	z-index: 5;
	border: 1px solid #888;
}

.vinyls .product-image,
.profiles .product-image {
	left: 50%;
}

.last-col .product-image {
	left: -155px;
}

#topNav ul#mainNav li .subnav dl dd:hover .product-image {
	display: block;
}

.height,
.width,
.depth,
.thinkness,
.length {
	text-align: center;
	display: inline-block;
}
.height {
	width: 35px;
}
.width {
	width: 54px;
}
.depth {
	width: 33px;
}
.thinkness {
	width: 54px;
}
.length {
	width: 36px;
}
